.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__brand {
    width: 210px;
  }

  &__nav {
    display: flex;
    gap: 57px;

    &__link {
      font-size: 24px;
      font-weight: 500;
      color: #ff6060;
      text-decoration: none;

      &--active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    &__brand {
      width: 145px;
    }
    &__brand > img {
      width: 145px;
    }
    &__nav {
      gap: 10px;
      &__link {
        font-size: 12px;
      }
    }
  }
}
